html {
    box-sizing: border-box;
}


*,
::after,
::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: ". form ."
                         "content content content"
                         "content content content"
                         "content content content";
                         
    padding: 10px;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    gap: 20px;
    grid-area: form;
}

.content {
    grid-area: content;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

input {
    display: block;
}

.books-container {
    border: 1px solid white;
    flex:1;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.book-card {
    border: 1px solid black;
}